<%- include('../layout/base') -%>

  <div class="root">
    <%- include('../partials/header') -%>
      <main class="index">
        <% if (videos) { %>
          <% for(const video of videos) { %>
            <a href="/watch/<%= video.id %>">
              <div>
                <video src="/<%= video.path %>"></video>
              </div>
              <div>
                <span> title: <%= video.title %> </span>
                <span id="createdAt"> createdAt: <%= video.createdAt %> </span>
              </div>
            </a>
            <% } %>
              <% } %>
      </main>
      <%- include('../partials/footer') -%>
  </div>
  <script src="/dist/js/diffTime.js"></script>