<%- include('../layout/base') -%>

    <div>
        <% if(videos) {%>
            <% for(const video of videos) { %>
                <a href="/watch/<%= video.id %>">
                    <div>
                        <video src="/<%= video.path %>"></video>
                    </div>
                    <div>
                        <span>id: <%= video.id %></span>
                        <span>
                            title: <%= video.title %>
                        </span>
                        <span>
                            createdAt: <%= video.createdAt %>
                        </span>
                    </div>
                </a>
                <% } %>
                    <% } %>
    </div>