<%- include('../layout/base') -%>

  <div class="root search-root">
    <%- include('../partials/header') -%>
      <main class="search">
        <% if (videos) { %>
          <% for (const video of videos) { %>
            <a href="/watch/<%= video.id %>" class="search__link">
              <video src="/<%= video.path %>"></video>
              <div class="search__link-metadata">
                <h2 class="search__link-metadata__title">
                  <%= video.title %>
                </h2>
                <div class="search__link-metadata-viewCreatedAt">
                  <span class="search__link-metadata-viewCreatedAt__view" id="viewCount">
                    <%= video.view %>
                  </span>
                  <span>•</span>
                  <span class="search__link-metadata-viewCreatedAt__createdAt" id="createdAt">
                    <%= video.createdAt %>
                  </span>
                </div>
                <div class="search__link-metadata-userInfo">
                  <img src="<%= video.userProfilePhoto %>" alt="" class="search__link-metadata-userInfo__img">
                  <span class="search__link-metadata-userInfo__username">
                    <%= video.userName %>
                  </span>
                </div>
                <span class="search__link-metadata__description">
                  <%= video.description %>
                </span>
              </div>
            </a>
            <% } %>
              <% } %>
      </main>
      <%- include('../partials/footer') -%>
  </div>
  <script src="/dist/js/view.js"></script>
  <script src="/dist/js/diffTime.js"></script>