<%- include('../layout/base') -%>

  <div class="root">
    <%- include('../partials/header') -%>
      <main class="watch">
        <% if (video) { %>
          <div class="watch-container">
            <div class="watch-container-videoplayer" id="videoPlayer">
              <video src="/<%= video.path %>" id="video"></video>
              <div class="watch-container-videoplayer-interactive" id="videoPlayerInteractive">
                <div class="watch-container-videoplayer-interactive-left">
                  <span class="watch-container-videoplayer-interactive-left-play">
                    <i class="fa-solid fa-play" id="play"></i>
                  </span>
                  <span class="watch-container-videoplayer-interactive-left-volume">
                    <i class="fa-solid fa-volume-high" id="volume"></i>
                    <input type="range" name="" id="volumeRange" value="100" />
                  </span>
                  <span class="watch-container-videoplayer-interactive-left-time">
                    <span id="currentTime"></span>
                    <span>/</span>
                    <span id="entireTime"></span>
                  </span>
                </div>
                <div class="watch-container-videoplayer-interactive-right">
                  <span>
                    <i class="fa-solid fa-expand" id="expand"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="watch-container-metadata">
              <div class="watch-container-metadata-info">
                <span>
                  <%= video.title %>
                </span>
                <div>
                  <span id="viewCount">
                    <%= video.view %>
                  </span>
                  <span id="createdAt">
                    <%= video.createdAt %>
                  </span>
                </div>
                <p>
                  <%= video.description %>
                </p>
              </div>
              <div class="watch-container-metadata-comments">
                <div class="watch-container-metadata-comments-length" id="commentsLengthSection">
                  <span id="commentsLength">
                    <%= comments.length %>
                  </span>
                </div>
                <% if (user) { %>
                  <div class="watch-container-metadata-comments-add">
                    <div>
                      <%= user.name %>
                    </div>
                    <form method="post" id="commentForm" class="watch-container-comments-add__form">
                      <input type="text" name="comment" id="comment" placeholder="Add a comment..." />
                      <button type="submit">Comment</button>
                    </form>
                  </div>
                  <% } %>
                    <% if (comments) { %>
                      <div class="watch-container-metadata-comments-info">
                        <ul class="watch-container-metadata-comments-info-ul" id="commentsUl">
                          <% for(const comment of comments.reverse()) { %>
                            <div class="watch-container-metadata-comments-info-ul-list">
                              <li>
                                <%= comment.userName %>: <%= comment.context %>
                              </li>
                              <% if (user) { %>
                                <% if (comment.userId===user.id) { %>
                                  <span id="deleteComment" data-id="<%= comment.id %>">
                                    <i class="fa-solid fa-delete-left"></i>
                                  </span>
                                  <% } else { %>
                                    <span></span>
                                    <% } %>
                                      <% } %>
                            </div>
                            <% } %>
                        </ul>
                      </div>
                      <% } %>
              </div>
            </div>
          </div>
          <% } %>
      </main>
      <%- include('../partials/footer') -%>
  </div>
  <script src="/dist/js/videoPlayer.js"></script>
  <script src="/dist/js/comment.js"></script>
  <script src="/dist/js/diffTime.js"></script>
  <script src="/dist/js/view.js"></script>