<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express-Portfolio</title>
</head>

<body>
    <h1>Products Page</h1>
    <ul>
        <% if (results) { %>
            <% for(const result of results) { %>
                <li>
                    <span>id:</span>
                    <%= result.id %>,
                        <span>name:</span>
                        <%= result.name %>,
                            <span>price:</span>
                            <%= result.price %>
                </li>
                <% } %>
                    <% } else if (result) { %>
                        <li>
                            <span>id:</span>
                            <%= result.id %>,
                                <span>name:</span>
                                <%= result.name %>,
                                    <span>price:</span>
                                    <%= result.price %>
                        </li>
                        <% } %>
    </ul>
</body>

</html>